<html>
<div id="player">
  <h1>MLB Player Stats. from 1998</h1>
  <table>
    <tbody id="f">
      <%= render(:partial => "field", :collection => @fields, :object => params[:page]) %>
    </tbody>
    <tbody id="p">
      <%= render(:partial => "player", :collection => @players) %>
    </tbody>
    <tbody id="pag">
      <%= render(:partial => "page", :object => params[:page]) %>
    </tbody>
  </table>
</div>
<br />
