<div id="player">
  <h1>MLB Player Stats. from 1998</h1>
  <table>
    <tbody id="f">
      <%= render(:partial => "field", :collection => @fields, :object => params[:page]) %>
    </tbody>
    <tbody id="p">
      <%= render(:partial => "player", :collection => @players, :object => params[:page], :object => params[:num]) %>
    </tbody>
    </table>
    <table id="pag">
        <%= render(:partial => "page", :object => params[:page]) %>
    </table>
</div>
<br />
